<p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies, dui eu mattis vehicula,
    dolor odio rutrum elit, ut dictum lectus diam sit amet mauris. Integer at dolor id lacus elementum tincidunt
    facilisis ac sem. Maecenas metus nisi, gravida non neque a, mattis vehicula nisl. Pellentesque congue mollis augue,
    ut mattis arcu tristique non. Proin at ipsum nec ipsum tincidunt pharetra. In erat magna, fermentum nec semper nec,
    blandit sit amet massa. Quisque quis tellus placerat, congue justo ut, lacinia arcu. Aenean at aliquam turpis,
    quis lobortis dui. Etiam tincidunt felis euismod, gravida enim a, tristique sapien. Curabitur non justo dolor.
    Curabitur cursus placerat eros id mattis. Duis tellus lacus, pulvinar in felis ac, eleifend interdum eros.
    Sed venenatis, mauris quis sollicitudin aliquet, mi massa pharetra elit, in pulvinar mauris arcu sed augue.
    In luctus vel libero nec dapibus. Nunc ultrices mauris pharetra sem dapibus mattis. Nunc vulputate dui eu turpis
    accumsan, pretium posuere augue posuere..') }}
</p>

<p>{{ _('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies, dui eu mattis vehicula,
    dolor odio rutrum elit, ut dictum lectus diam sit amet mauris. Integer at dolor id lacus elementum tincidunt
    facilisis ac sem. Maecenas metus nisi, gravida non neque a, mattis vehicula nisl. Pellentesque congue mollis augue,
    ut mattis arcu tristique non. Proin at ipsum nec ipsum tincidunt pharetra. In erat magna, fermentum nec semper nec,
    blandit sit amet massa. Quisque quis tellus placerat, congue justo ut, lacinia arcu. Aenean at aliquam turpis,
    quis lobortis dui. Etiam tincidunt felis euismod, gravida enim a, tristique sapien. Curabitur non justo dolor.
    Curabitur cursus placerat eros id mattis. Duis tellus lacus, pulvinar in felis ac, eleifend interdum eros.
    Sed venenatis, mauris quis sollicitudin aliquet, mi massa pharetra elit, in pulvinar mauris arcu sed augue.
    In luctus vel libero nec dapibus. Nunc ultrices mauris pharetra sem dapibus mattis. Nunc vulputate dui eu turpis
    accumsan, pretium posuere augue posuere..') }}
</p>