<h2>{{_('What\'s')}} <a href="http://datos.gov.py/">datos.gov.py</a> {{_('all about?')}}</h2>
<p>{{ _('The Government is releasing public data to help people understand how government works and how policies are made.
    Some of this data is already available, but')}} <a href="http://datos.gov.py/">datos.gov.py</a> {{_('brings it together in one searchable website. Making this data
    easily available means it will be easier for people to make decisions and suggestions about government policies based on
    detailed information.
') }}
</p>

<h2>{{_('How can I use the data?')}}</h2>
<p>{{ _('You can use the data in all sorts of ways. This may be simply to analyse trends over time from one policy area,
    or to compare how different parts of government go about their work. Technical users will be able to create useful
    applications out of the raw data files, which can then be used by everyone.') }}
</p>

<h2>{{_('How can I add my organisation\'s data?')}}</h2>
<p>{{ _('There is a simple how-to guide that takes you through the steps needed to include your data in ')}} <a href="http://datos.gov.py/">datos.gov.py</a>{{_('\'s
    index by following this link:') }} <a href="http://datosparaguay.org/wiki/herramientas/creacion_dataset">{{ _('User Manual')}}</a>.
</p>

<h2>{{_('Who is involved in the project?')}}</h2>
<p><a href="http://datos.gov.py/">Datos.gov.py</a> {{ _('is a key part of the Government\'s work on Transparency which
    is being carried out by the National Secretary of ICT (SENATICs).
The catalog is developed with the support of the Democracy and Governance Program funded by USAID and executed by CEAMSO.') }}
</p>

<h2>{{_('Who is part of the technical team?')}}</h2>
<p>
{{ _('The catalog is based on CKAN and all the code is in Github ')}}<a href="https://github.com/SENATICS/ckanext-opendatagovpy">{{ _('here.') }}</a>

{{ _('The people working in the catalog are:

Javier Quiñonez, Andrés Ortiz, Juan Pane, Rodrigo Parra.') }}
</p>