<h2>{{_('What\'s')}} <a href="http://datos.gov.py/">datos.gov.py</a> {{_('all about?')}}</h2>
<p>{{ _('The Government of Paraguay is releasing public data to help people understand how their government works and how government resources management is done.') }}
<a href="http://datos.gov.py/">Datos.gov.py</a> {{ _('is a portal that allows access to these open government data.') }} <a href="http://datos.gov.py/">Datos.gov.py</a>
{{ _('gives any citizen, institution, enterprise or employee free, simple and dynamic access to open government datasets. The goal of the portal
is to encourage transparency by helping citizens to understand and find out about the government\'s management of public goods. ')}}
</p>
<p>{{_('By doing this, citizen participation is encouraged, seeking to accomplish a higher government efficiency, which attracts economic development.
    The content of the portal, made up of datasets, can also be used by application developers with the purpose of offering innovative and more accesible perspectives
    to data given by the government. Through this, citizens are empowered by being able of proposing improvements to government services
    based on new knowledge generation (Public value).')}}</p>

<h2>{{_('How can I use the data?')}}</h2>
<p>{{ _('You can use the data in all sorts of ways. This may be simply to analyse trends over time from one policy area,
    or to compare how different parts of government go about their work. Technical users will be able to create useful
    applications out of the raw data files, which can then be used by everyone.') }}
</p>

<h2>{{_('How can I add my organisation\'s data?')}}</h2>
<p>{{ _('There is a simple how-to guide that takes you through the steps needed to include your data in ')}} <a href="http://datos.gov.py/">datos.gov.py</a> {{_('\'s
    index by following this link:') }} <a href="https://github.com/SENATICS/ckanext-opendatagovpy/wiki/Manual-del-Usuario:-Proceso-de-Creaci%C3%B3n-de-Datasets">{{ _('User Manual')}}</a>.
</p>

<h2>{{_('Who is involved in the project?')}}</h2>
<p><a href="http://datos.gov.py/">Datos.gov.py</a> {{ _('is a key part of the Government\'s work on Transparency which
    is being carried out by the National Secretary of ICT (SENATICs).
The catalog is developed with the support of the Democracy and Governance Program funded by USAID and executed by CEAMSO.') }}
</p>

<h2>{{_('Who is part of the technical team?')}}</h2>
<p>
{{ _('The catalog is based on CKAN and all the code is in Github ')}}<a href="https://github.com/SENATICS/ckanext-opendatagovpy"> {{ _('here.') }}</a>

{{ _('The people working in the catalog are:

Javier Quiñonez (SENATICs), Andrés Ortiz (SENATICs), Juan Pane (PDG), Rodrigo Parra (PDG).') }}
</p>

<p>
{{ _('In case of need, you can contact the system administrator by sending an email to: ') }} <a target="blanck" href="mailto:comunicacion@senatics.gov.py">admin@senatics.gov.py</a>
</p>
