<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What\'s a resource?') }}</h2>
  <div class="module-content">
    <p>{{ _('A resource can be any file or link to a file that contains useful data.') }}</p>
  </div>
</section>

<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What\'s a resource schema?') }}</h2>
  <div class="module-content">
    <p>{{ _('A resource schema is a description of the fields of the resource.') }}</p>
    <p>{{ _('For each field in the schema, the following properties can be defined:') }}</p>
    <p><strong>{{ _('Attribute') }}:</strong> {{ _('The name of the field as it is found in the resource.') }}</p>
    <p><strong>{{ _('Type') }}</strong> {{ _('The data type of the field values.') }} </p>
    <p><strong>{{ _('Description') }}:</strong> {{ _('A short description of the field.') }}</p>
    <p>{{ _('These properties (and their values) are defined according to the') }}
        <a href="http://dataprotocols.org/json-table-schema/">{{ _('JSON Table Schema') }}</a>{{_('specification.')}}</p>
  </div>
</section>