<footer class="site-footer">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57623492-1', 'auto');
  ga('send', 'pageview');

</script>
    {% block footer_content %}
        <div class="attribution">
            {% block footer_attribution %}
            <p><strong>{{ _('Based on') }} </strong> <a class="hide-text ckan-footer-logo"
                                                         href="http://ckan.org">CKAN</a></p>
            {% endblock %}
            {% block footer_lang %}
            {% snippet "snippets/language_selector.html" %}
            {% endblock %}
        </div>
        <div class="institution">
            <p>{{ _('Site built and maintained by') }} <a href="https://www.senatics.gov.py/" title="Secretaría Nacional de Tecnologías de la Información y Comunicación">{{ _('SENATICs') }}</a></br>
               {{ _('with support from ') }} <a href="http://www.ceamso.org.py/es/proyectos/20-programa-de-democracia-y-gobernabilidad" title="Programa de Democracia y Gobernabilidad (USAID-CEAMSO)">{{ _('Programa de Democracia y Gobernabilidad') }}</a> (USAID-CEAMSO)</p>
            <a rel="license" href="https://www.paraguay.gov.py/datos-abiertos/licencias" title="{{ _('Este Portal s encuentra bajo la Licencia del Estado Paraguayo.') }}">
            Licencia del Estado Paraguayo
            <!--<img style="border-width:0; float:left;" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png">-->
            </a><p>{{ _('2017 Secretaría Nacional de Tecnologías de la Información y Comunicación') }}</p>
            
        </div>
        {% endblock %}

    {% block footer_debug %}
    {% if g.debug %}
    {% include 'snippets/debug.html' %}
    {% endif %}
    {% endblock %}
</footer>
