{% ckan_extends %}

{% block content %}

<script src="https://d3js.org/d3.v3.min.js"></script>

{% resource 'ckanext-opendatagovpy/scripts/d3.layout.cloud.js' %}
{% resource 'ckanext-opendatagovpy/scripts/tag-cloud.js' %}
{% resource 'ckanext-opendatagovpy/scripts/homepage-slider.js' %}
{% resource 'ckanext-opendatagovpy/scripts/homepage-feed.js' %}

<style>
	body{
		background:#FFF;
	}
	html{
		background: #001c54;
	}
	.main{
		position: relative;
		display: block;
	}
	.homepage-slider-ng:before, .homepage-slider-ng::after{
		background: transparent
	}
	@media only screen and (min-width: 968px) {
		.nube{
			height:400px !important;	
		}
		.homepage-slider-ng .boxes-wrapper{
			position: relative;
			top: 24px;
		}
		.site-footer{
			
		}
		.homepage .module-search .search-form .heading{
			margin-top:0 !important;	
			padding:0 10px !important;
		}
		.homepage .module-search .search-giant{
			margin-bottom:0 !important;	
		}
		.homepage .module-search .search-giant input{
			border-color:#999 !important;	
		}
		.search-form .search-input.search-giant input{
			font-size:13px !important;	
			padding:10px !important;
		}
		.homepage .module-search .search-form{
			height:auto !important;
		}	
		.homepage .module-search{
			height:214px !important;	
		}
		.homepage-slider-ng .text-wrapper .text-container{
			padding-top:20px !important;	
		}
		.homepage-slider-ng{
			margin-top:150px;
			background: transparent;
		}
		.account-masthead{
			z-index:5555;
			position:fixed;
			width:100%;	
			top:0 !important;
		}
		.homepage .box .inner{
			padding:10px;	
		}
		.homepage.layout-2 .stats {
			height:165px !important;
			margin-bottom:15px !important;	
			border:2px solid #fff !important;
			border-radius:10px;
		}
		.homepage .module-search{
			height:169px !important
		}
		.homepage .module-search .search-form{
			padding:3px !important;	
		}
		.span6, .group-list{
			height:320px !important;  
		}
		form{
			margin:0 0 5px !important;	
		}
		#tag-cloud{
			background: transparent;
			height:600px !important;
			box-sizing:border-box;
			padding:0px !important;
		}
		.timeline{
			background:rgba(163,198,206,.8) !important;
		}
		.customisable-border{
			border:2px solid #fff !important;	
		}
		.homepage .module-search{
			border:0px !important;
			padding:0px !important;
			background:none !important	
		}
		.homepage .module-search .module-content ,.votacion{
			border-radius:10px !important;	
			border:2px solid #fff !important;	
		}
		.homepage .stats h3{
			font-size:17px;	
		}
		.homepage-slider-ng .text-wrapper .text-container{
			background:rgba(0,0,0,.3) !important;
			padding:10px !important;
			border-radius:0px 0px 20px 20px !important;
		}
		.homepage-slider-ng .text-wrapper .text-container h3, .homepage-slider-ng .text-wrapper .text-container .text-row{
			background:rgba(0,0,0,0) !important;	
		}	
	}
</style>

<div class="main homepage">
    {{ self.primary_content() }}
</div>

{% endblock %}
{% block primary_content %}
{% set tags = h.get_facet_items_dict('tags', limit=20) %}
<script type="text/javascript">
   var tagList = {{ h.dump_json(tags)|safe }};
   var frequencyList = tagList.map(function(t){
        return {"text":t["display_name"], "size":t["count"]}
   });
</script>
<style>
	.button {
		margin-bottom: 20px;
		background-color: #008CBA; 
		border: none;
		color: white;
		padding: 10px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		text-decoration: none !important;
		width: 100%;
		text-align: center;
		box-sizing: border-box;
		border-radius: 10px;
		cursor: pointer;
	}
	.button:hover{
		background-color: #0ebff9;
	}
</style>
<div class="homepage-slider-ng" style="margin-bottom: 50px;">
    <div class="boxes-wrapper container">
		{% snippet 'home/snippets/stats.html' %}
		<div class="row group-listing" style="margin-top: 10px;">
		</div>
        <div class="row row1">
            <div class="span4 col1">
				{% snippet 'home/snippets/search.html' %}
				<br>
				<img class="votacion" src="/images/datos-abiertos.gif" width="100%" height="auto">
				<a class="button" href="https://www.paraguay.gov.py/datos-abiertos/curso" target="_blank">Inscribite aquí</a>
				<br>
			</div>
			<div class="span4 col2">
				<a class="twitter-timeline" data-height="530" data-link-color="#001c54" href="https://twitter.com/SENATICs?ref_src=twsrc%5Etfw">Tweets by SENATICs</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="span4 col3">
				<div class="nube">
					<div id="tag-cloud"></div>
				</div>
			</div>
        </div>
    </div>
</div>
{% endblock %}
