{% ckan_extends %}

{% block content %}

<script src="http://d3js.org/d3.v3.min.js"></script>

{% resource 'ckanext-opendatagovpy/scripts/d3.layout.cloud.js' %}
{% resource 'ckanext-opendatagovpy/scripts/tag-cloud.js' %}
{% resource 'ckanext-opendatagovpy/scripts/homepage-slider.js' %}
{% resource 'ckanext-opendatagovpy/scripts/homepage-feed.js' %}


<div class="main homepage layout-2">
    {{ self.primary_content() }}
</div>

{% endblock %}

{% block primary_content %}

{% set tags = h.get_facet_items_dict('tags', limit=20) %}

<script type="text/javascript">
   var tagList = {{ h.dump_json(tags)|safe }};
   var frequencyList = tagList.map(function(t){
        return {"text":t["display_name"], "size":t["count"]}
   });


</script>


<div class="homepage-slider-ng">
    <div class="images-wrapper">

        <div class="text-wrapper" style="background-image:url(/images/home-slider/palacio.jpg)">
            <div class="text-container">
                <div><h3>{{ _("Here goes a sample text") }}</h3></div>
                <div class="text-row">
                    {{ _("and this is a sample <a href=\"{link}\">link</a>").format(link='/group/cat-meteo')|safe
                    }}
                </div>

            </div>
            <div class="footer-container"><a href="http://es.wikipedia.org/wiki/Palacio_de_los_L%C3%B3pez#mediaviewer/Archivo:Palacio_de_L%C3%B3pez_de_noche.jpg">{{_('Image by')}} Marco Bogarín. CC BY 2.0.</a></div>
        </div>

        <div class="text-wrapper"
             style="background-image:url(/images/home-slider/itaipu.jpg);display:none;">
            <div class="text-container">
                <div><h3>{{ _("Here goes a sample text") }}</h3></div>
                <div class="text-row">
                    {{ _("and this is a sample <a href=\"{link}\">link</a>").format(link='/group/cat-meteo')|safe
                    }}
                </div>
            </div>
            <div class="footer-container">
                <a href="https://www.flickr.com/photos/cesar_camilla/9623770415/in/photostream/">{{_('Image by')}}César I. Martins. CC BY 2.0.</a>
            </div>
        </div>

        <div class="text-wrapper" style="background-image:url(/images/home-slider/cabildo.jpg);display:none;">
            <div class="text-container">
                <div><h3>{{ _("Here goes a sample text") }}</h3></div>
                <div class="text-row">
                    {{ _("and this is a sample <a href=\"{link}\">link</a>").format(link='/group/cat-meteo')|safe
                    }}
                </div>
            </div>
            <div class="footer-container"><a href="http://es.wikipedia.org/wiki/Asunci%C3%B3n#mediaviewer/Archivo:Antiguo_Cabildo_Asunci%C3%B3n.jpg">{{_('Image by')}} Felipe Méndez. CC BY SA 3.0.</a></div>
        </div>
    </div>
    <div class="boxes-wrapper container">
                <div class="row row1">
            <div class="span6 col1">
                {% snippet 'home/snippets/stats.html' %}
                <div class="row group-listing" style="margin-top: 10px;">
</div>
            </div>
            <div class="span6 col2">
                <div id="tag-cloud"></div>
            </div>
        </div>

    </div>
</div>

<div role="main" class="hero">
    <div class="container">
        <div class="row row1">
            <div class="span6 col1">
        {% snippet 'home/snippets/search.html' %}

    </div>

    <div class="span6 col2">
         <section class="group-list module module-narrow module-shallow" style="height:300px">
                <a class="twitter-timeline" href="https://twitter.com/user" data-widget-id="id">Tweets
                    por @user</a>
                <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

                </script>


            </section>
    </div>
        </div>

    </div>
</div>


{% endblock %}
